/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.header,
.intro,
.navbar-default,
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background: #4b5a65;
}

.collapse .navbar-right li a,.collapse .navbar-right li a:hover, .collapse .navbar-right li a:focus,
.navbar-default .navbar-nav>li>a,
.reference .work_link a {
    font-size: 15px;
}

.navbar-header .navbar-brand,.navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:focus,
.collapse .navbar-right li a,.collapse .navbar-right li a:hover, .collapse .navbar-right li a:focus,
.navbar-default .navbar-nav>li>a,
.reference button,
.reference span,
.reference .work_link a,
.right_part h1,
.services_button {
    color: #fff;
}

.collapse .navbar-right li a,.collapse .navbar-right li a:hover, .collapse .navbar-right li a:focus,
.navbar-default .navbar-nav>li>a,
.right_part {
    font-family: "Helvetica Neue";
}

header {
    height: 588px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    height: 120px;
    padding-top: 32px;
}

.navbar {
    margin-bottom: 0;
}

.navbar-default {
    border-color: #4b5a65;
}

.navbar-header .navbar-brand,.navbar-header .navbar-brand:hover, .navbar-header .navbar-brand:focus {
    font-size: 31px;
    font-family: 'Pacifico', cursive;
}

.collapse .navbar-right .active_link, .collapse .navbar-right .active_link:hover, .collapse .navbar-right .active_link:focus {
    background-color: #39434a;
    border-radius: 8px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.left_part,
.news .blog .acticle .acticle_img {
    float: left;
}

.right_part,
.news .blog .acticle .article_text {
    float: right;
}

.right_part h1 {
    font-size: 48px;
}

.right_part h4, .right_part p {
    font-size: 16px;
}

.right_part h4 {
    color: #a7aaac;
}

.right_part p {
    color: #7d8183;
}

.reference {
    margin-top: 50px;
}

.reference button {
    padding: 12px 45px;
    background: #3e96d2;
    border-radius: 16px;
    font-size: 14px;
}

.reference span, .reference button {
    margin-right: 15px;
}

.reference .work_link a {
    text-decoration: underline;
}

.clients {
    background-color: #ebebeb;
    padding: 15px 0;
}

.clients_logo, .works {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.services {
    background-color: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 20px;
}

.services .info_item_1, .services .info_item_2, .services .info_item_3 {
    text-align: center;
}

.info_item_1 img, .info_item_2 img, .info_item_3 img {
    margin-bottom: 25px;
}

.services_title {
    font-size: 20px;
    color: #5c6972;
}

.services_text {
    font-size: 14px;
    color: #bebebe;
}

.services_button {
    margin-top: 30px;
    padding: 8px 20px;
    background-color: #579fd2;
    font-size: 13px;
    font-weight: bold;
    border-radius: 8px;
}

.projects {
    padding-top: 50px;
}

.projects .blog_title {
    padding-left: 14px;
}

.works {
    justify-content: center;
}

.news {
    margin-bottom: 55px;
    padding-top: 35px;
}

.news .blog .blog_title, .news .twitter .blog_title, .projects .blog_title {
    font-size: 20px;
    color: #5d6a74;
    margin-bottom: 15px;
}

.news .blog .blog_title img, .news .twitter .blog_title img, .projects .blog_title img{
    padding-bottom: 7px;
}

.news .blog .acticle {
    margin-bottom: 15px;
}

.news .blog .acticle .acticle_img {
    width: 35%;
}

.news .blog .acticle .article_text {
    width: 65%;
}

.news .blog .acticle .article_text .title_text {
    color: #797979;
    font-size: 15px;
}

.news .blog .acticle .article_text .title_text .read_more {
    color: #73abda;
}

.news .blog .acticle .article_text .text_text,
.twitter .post,
.footer .left_part .rights{
    color: #9b9b9b;
    font-size: 13px;
}

.news .blog .acticle .article_text .time_text, .twitter .time_text {
    color: #bcbcbc;
    font-size: 11px;
}

.twitter {
    padding-left: 90px;
}

.twitter p {
    font-size: 13px;
}

.twitter .twitter_post {
    margin-bottom: 20px;
}

.line {
    height: 0.6px;
    color: #e8e8e8;
}

.footer {
    padding-bottom: 10px;
}

.footer .left_part .rights {
    padding-top: 10px;
}

.footer .social ul{
   padding-bottom: 20px;
}

.footer .social ul li {
    list-style: none;
    float: left;
    margin: 5px;
}










/*    Media screen    */


@media screen and (max-width: 750px) {
    nav {
        height: 100px;
        padding-top: 1px;
    }
    .intro .left_part {
        display: none;
    }
    .intro .right_part h1, .reference, h4, p{
        text-align: center;
    }
    .navbar-collapse ul li .toggle-color, .navbar-collapse ul li .toggle-color:hover, .navbar-collapse ul li .toggle-color:focus {
        background-color: #39434a;
    }
    .collapse .navbar-right .active_link, .collapse .navbar-right .active_link:hover {
        border-radius: 0;
    }
    .reference {
        padding-bottom: 50px;
    }
    .clients .clients_logo .cl-logo img {
        height: 34px;
        width: 51px;
    }
    .services {
        padding-top: 25px;
    }
    .info_item_1 img, .info_item_2 img, .info_item_3 img {
        margin-bottom: 15px;
        margin-top: 18px;
    }
    .info_item_1 img {
        margin-top: 0;
    }
    .services_button {
        margin-top: 15px;
    }
    .services_button:last-child {
        margin-bottom: 0;
    }
    .projects {
        padding-top: 20px;
    }
    .projects .works img {
        width: 185px;
        height: 135px;
    }
    .news {
        padding-top: 20px;
    }
    .news .blog .acticle .acticle_img {
        width: 50%;
    }
    .news .blog .acticle .article_text {
        width: 50%;
    }
    .news .twitter {
        padding-left: 10px;
        padding-top: 20px;
    }
    .twitter .twitter_post p{
        text-align: left;
    }
    .footer {
        padding: 0 10px;
    }
}
@media screen and (max-width: 764px) {
    nav {
        height: 100px;
        padding-top: 1px;
    }
    .navbar-collapse ul li .toggle-color, .navbar-collapse ul li .toggle-color:hover, .navbar-collapse ul li .toggle-color:focus {
        background-color: #39434a;
    }
    .collapse .navbar-right .active_link, .collapse .navbar-right .active_link:hover {
        border-radius: 0;
    }
}
@media screen and (max-width: 970px) {
    .intro .left_part {
        display: none;
    }
    .intro .right_part h1, .reference, h4, p{
        text-align: center;
    }
    .reference {
        padding-bottom: 50px;
    }
    .services {
        background-color: #f5f5f5;
    }
    .projects {
        padding-top: 20px;
    }
    .news .blog .acticle .acticle_img {
        width: 40%;
    }
    .news .blog .acticle .article_text {
        width: 60%;
    }
    .twitter {
        padding-left: 0;
    }
    .twitter .twitter_post p{
        text-align: left;
    }
    .news {
        padding-top: 20px;
    }
    .news .twitter {
        padding-left: 10px;
        padding-top: 20px;
    }
    .footer {
        padding: 0 10px;
    }
}



/*   Hamburger menu   */

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-toggle span.icon-bar {
    transition: all 0.15s;
}

.navbar-toggle span:nth-child(2) {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-toggle span:nth-child(3) {
    opacity: 0;
}

.navbar-toggle span:nth-child(4) {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-toggle.collapsed span:nth-child(2),
.navbar-toggle.collapsed span:nth-child(4) {
    transform: rotate(0);
}

.navbar-toggle.collapsed span:nth-child(3) {
    opacity: 1;
}


    /* ==========================================================================
       Helper classes
       ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
